<html>
  <head>
    <style>
      @import url('https://fonts.googleapis.com/css?family=Roboto+Mono|Rubik&display=swap');
      p,h1,h2,ul,li {
        font-family: 'Rubik', sans-serif;
      }
      pre {
        font-family: 'Roboto Mono', monospace;
      }
      body {
        margin: 50px auto;
        max-width: 900px;
      }
      img {
        max-width: 900px;
      }
    </style>
    <title>{{{title}}}</title>
  </head>
  <body>
    {{{content}}}
  </body>
</html>
